<p class="row">
  <input type="button" class="btn span1 digit" value="1"></button>
  <input type="button" class="btn span1 digit" value="2"></button>
  <input type="button" class="btn span1 digit" value="3"></button>
  <input type="button" class="btn btn-primary span2 operation" value="+"></button>
</p>
<p class="row">
  <input type="button" class="btn span1 digit" value="4"></button>
  <input type="button" class="btn span1 digit" value="5"></button>
  <input type="button" class="btn span1 digit" value="6"></button>
  <input type="button" class="btn btn-primary span2 operation" value="-"></button>
</p>
<p class="row">
  <input type="button" class="btn span1 digit" value="7"></button>
  <input type="button" class="btn span1 digit" value="8"></button>
  <input type="button" class="btn span1 digit" value="9"></button>
  <input type="button" class="btn btn-primary span2 operation" value="*"></button>
</p>
<p class="row">
  <input type="button" class="btn span1 digit" value="0"></button>
  <input type="button" class="btn btn-danger span1 operation" value="="></button>
  <input type="button" class="btn span1 clear" value="C"></button>
  <input type="button" class="btn btn-primary span2 operation" value="/"></button>
</p>
